@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="~/css/site.css">
  <title>Index</title>
</head>

<body class="container">
  <img class="logo" src="~/images/logo.png" alt="C# Logo" />
  <input type="button" value="Click Me" class="btn btn-primary">
  <h1 class="h1">Welcome to book store website</h1>
  <p>This is the home page of our book store application</p>
</body>

<script src="~/lib/jquery/jquery.js"></script>
<script>
  $(document).ready(function () {
    alert("Page Loaded");
  });
</script>

</html>
