@{
  ViewData["Title"] = "All Books";
}

@model IEnumerable<BookModel>

<div class="container">
  <h1>All Books</h1>
  <div class="row">
    @foreach (var book in Model)
    {
      <div class="col-md-4">
        <div class="card shadow-sm mb-4">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <h3 class="card-title">@book.Title</h3>
              <p class="card-text">@book.Description</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a asp-route="bookDetailsRoute" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary">View
                    Details</a>
                </div>
                <small class="text-muted">@book.Author</small>
              </div>
            </div>
        </div>
      </div>
    }
  </div>
</div>
